# K1 four-channel bed load-cell board, derived from Creality's
# K1_bed0_110_G21_defconfig.  Keep the factory 12KiB application offset and
# USART0 PA9/PA10 transport, but select the archived V1/V2 protocol explicitly.
CONFIG_LOW_LEVEL_OPTIONS=y
# CONFIG_MACH_AVR is not set
# CONFIG_MACH_ATSAM is not set
# CONFIG_MACH_ATSAMD is not set
# CONFIG_MACH_LPC176X is not set
# CONFIG_MACH_STM32 is not set
CONFIG_MACH_GD32=y
# CONFIG_MACH_HC32F460 is not set
# CONFIG_MACH_RPXXXX is not set
# CONFIG_MACH_PRU is not set
# CONFIG_MACH_AR100 is not set
# CONFIG_MACH_LINUX is not set
# CONFIG_MACH_SIMU is not set
CONFIG_BOARD_DIRECTORY="gd32"
CONFIG_MCU="gd32e230x8"
CONFIG_CLOCK_FREQ=72000000
CONFIG_SERIAL=y
CONFIG_FLASH_SIZE=0x00010000
CONFIG_FLASH_BOOT_ADDRESS=0x08000000
CONFIG_RAM_START=0x20000000
CONFIG_RAM_SIZE=0x00002000
CONFIG_STACK_SIZE=512
CONFIG_FLASH_APPLICATION_ADDRESS=0x08003000
CONFIG_GD32_SELECT=y
CONFIG_GD32_APP_VERSION="bed0_004_000"
# CONFIG_MACH_GD32F303XB is not set
# CONFIG_MACH_GD32F303XC is not set
# CONFIG_MACH_GD32F303XE is not set
# CONFIG_MACH_GD32E230X6 is not set
CONFIG_MACH_GD32E230X8=y
CONFIG_MACH_GD32E23X=y
# CONFIG_GD32_FLASH_START_0000 is not set
# CONFIG_GD32_FLASH_START_2000 is not set
CONFIG_GD32_FLASH_START_3000=y
# CONFIG_GD32_FLASH_START_5000 is not set
# CONFIG_GD32_FLASH_START_7000 is not set
# CONFIG_GD32_FLASH_START_8000 is not set
CONFIG_GD32_SERIAL_USART0_PA9_PA10=y
# CONFIG_GD32_SERIAL_USART1_PA2_PA3 is not set
CONFIG_SERIAL_BAUD=230400
CONFIG_WANT_ADC=y
# CONFIG_WANT_SPI is not set
# CONFIG_WANT_SOFTWARE_SPI is not set
# CONFIG_WANT_I2C is not set
# CONFIG_WANT_SOFTWARE_I2C is not set
# CONFIG_WANT_BUTTONS is not set
# CONFIG_WANT_TMCUART is not set
# CONFIG_WANT_NEOPIXEL is not set
# CONFIG_WANT_PULSE_COUNTER is not set
# CONFIG_WANT_ST7920 is not set
# CONFIG_WANT_HD44780 is not set
# CONFIG_WANT_ADXL345 is not set
# CONFIG_WANT_LIS2DW is not set
# CONFIG_WANT_BMI160 is not set
# CONFIG_WANT_MPU9250 is not set
# CONFIG_WANT_ICM20948 is not set
# CONFIG_WANT_THERMOCOUPLE is not set
# CONFIG_WANT_HX71X is not set
# CONFIG_WANT_CS1237 is not set
# CONFIG_WANT_ADS131M0X is not set
# CONFIG_WANT_ADS1220 is not set
# CONFIG_WANT_LDC1612 is not set
# CONFIG_WANT_SENSOR_ANGLE is not set
# CONFIG_WANT_TRIGGER_ANALOG is not set
CONFIG_WANT_PRTOUCH_V2_COMPAT=y
# CONFIG_WANT_PRTOUCH_V3_COMPAT is not set
# CONFIG_WANT_CREALITY_485_CODEC is not set
# CONFIG_WANT_CREALITY_485_SLAVE is not set
CONFIG_CANBUS_FREQUENCY=1000000
CONFIG_INLINE_STEPPER_HACK=y
CONFIG_HAVE_STEPPER_OPTIMIZED_BOTH_EDGE=y
CONFIG_WANT_STEPPER_OPTIMIZED_BOTH_EDGE=y
CONFIG_INITIAL_PINS=""
CONFIG_HAVE_GPIO=y
CONFIG_HAVE_GPIO_ADC=y
CONFIG_HAVE_STRICT_TIMING=y
CONFIG_HAVE_CHIPID=y
